* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* 10px */
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 70%;
    background-size: cover;
}

.scroll-fix::before {
    display: block;
    margin-top: -3rem;
    height: 3rem;
    content: '';
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 2;
}

/*navbar*/
.bg-light {
    background-color: rgb(34, 34, 34) !important;
}

.nav-font a,
button {
    color: rgb(161, 147, 121) !important;
}

.fa-bars {
    font-size: 2rem;
}

.collapse,
.navbar-collapse {
    justify-content: center;
    font-size: 2rem;
}

.navbar-nav {
    margin: 0;
    text-transform: uppercase;
}


.collapsing>.navbar-nav a {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}


.show>.navbar-nav a {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}



@media only screen and (min-width: 992px) {
    .navbar-nav {
        margin: auto;
        margin-right: 1rem;
    }

    .navbar-nav a {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media only screen and (min-width: 1200px) {

    .navbar-nav,
    .navbar-nav a {
        font-size: 1.8rem;
        margin: auto;
        margin-right: 5rem;
    }
}

/*end navbar*/

/*header*/
header {
    height: 74rem;
}

.header-text {
    position: absolute;
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    top: 5rem;
    height: 50rem;
}

.header-text a {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 2rem;
}

.text-p {
    font-size: 1.5rem;
    letter-spacing: 0.6rem;
}

@media only screen and (min-width: 768px) {
    .header-text {
        font-size: 5rem;
    }

    .header-text a {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .header-text {
        align-items: flex-start !important;
        width: 82%;
        margin-left: 10rem;
        top: 10rem;
        letter-spacing: 0.5rem;
    }

    .btn {
        margin-left: 10rem;
        font-size: 1.5rem !important;
        font-weight: 600;
    }
}

@media only screen and (min-width: 1400px) {
    .header-text {
        width: 82%;
        margin-left: 20rem;
        top: 10rem;
        letter-spacing: 0.8rem;
        font-size: 6.5rem;
    }

    .btn {
        margin-left: 20rem;
        font-size: 1.5rem !important;
    }

    .text-p {
        font-size: 1.7rem;
        letter-spacing: 1rem;
    }
}

.btn {
    border-radius: 20px;
}

.socials {
    position: relative;
    flex-direction: row-reverse;
    top: 64rem;
    font-size: 5rem;
    letter-spacing: 2rem;
    z-index: 1;
}

.fa-facebook {
    color: rgb(44, 84, 158);
}

.fa-google {
    color: rgb(151, 56, 56);
}

.carousel {
    z-index: 0;
    top: -5rem;
    transform: translateY(-10rem);
}

.carousel-text {
    position: absolute;
    display: flex;
    justify-content: center;
    color: wheat;
    z-index: 1;
    background-color: yellow;
}

.carousel img {
    height: 80rem;
    object-fit: cover;
    transform: translateY(10rem);
    z-index: 0;
}


.carousel a {
    display: none;
}

@media only screen and (max-width: 576px) {
    header {
        height: 64rem;
    }

    .carousel {
        transform: translateY(-20rem);
    }

    .carousel img {
        transform: translateY(20rem);
    }

    .socials {
        top: 54rem;
        letter-spacing: 1rem;
    }
}

.change-position-img {
    object-position: 10% 100%;
}

@media only screen and (min-width: 1200px) {
    .change-position-img {
        object-position: center left;
    }
}

/*end header*/

/*about us*/

@media only screen and (max-width: 450px) {
    .content-container {
        width: 100% !important;
        padding: 0.5rem;
    }
}

/*buttons*/

.btn-primary {
    color: rgb(161, 147, 121);
    background-color: rgb(34, 34, 34);
    border-color: rgb(161, 147, 121);
    margin-left: 0;
    margin-right: 2rem;
    font-size: 1.8rem !important;
    letter-spacing: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Rajdhani', sans-serif;
}

.btn-primary:hover {
    color: rgb(34, 34, 34);
    background-color: rgb(161, 147, 121);
    border-color: rgb(161, 147, 121);
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active {
    color: rgb(34, 34, 34) !important;
    background-color: rgb(161, 147, 121) !important;
    border-color: rgb(161, 147, 121) !important;
    box-shadow: rgb(34, 34, 34) 0px 0px 0px 0.2rem !important;
}

/*end buttons*/

.jumbotron h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
    color: rgb(45, 139, 88);
    font-weight: 600;
}

.jumbotron p,
.alert-wb,
.alert-ws {
    font-family: 'Work Sans', sans-serif;
}

.alert-wb,
.alert-ws {
    font-style: italic;
}


.description {
    font-size: 2rem;
}

@media only screen and (min-width: 993px) {
    .alert-ws {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .media {
        display: flex;
        flex-direction: column;
    }

    .media-body {
        order: 1;
    }

    .alert-success {
        order: 3;
        top: 1rem;
    }

    .fsc {
        margin: auto !important;
        order: 1;
    }

    .alert-wb {
        display: none;
    }

    .content-container {
        width: 100% !important;
    }
}


/*end about us*/

/*products*/


table,
td,
th {
    border: 1px solid black;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    padding: 0;
}

@media only screen and (min-width: 768px) {

    td,
    tr,
    th {
        font-size: 2rem;
    }
}

.container-table {
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    border: none;
    background-color: white;
}


.fl-table thead th:nth-child(odd) {
    color: rgb(21, 114, 63);
    background: #29292917;
}

.fl-table tr:nth-child(even) {
    background: #b9b9b962;
}


.card-img-top {
    z-index: 1;
    -webkit-box-shadow: 1px 5px 13px 3px rgb(34, 34, 34);
    -moz-box-shadow: 1px 5px 13px 3px rgb(34, 34, 34);
    box-shadow: 1px 5px 13px 3px rgb(34, 34, 34);
}



/*products*

/*footer*/

footer,
footer p,
footer a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none !important;
    background-color: rgb(34, 34, 34);
    color: rgb(161, 147, 121);
}

footer a:hover {
    color: white;
}

/*end footer*/

/*hovers*/

.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(255, 22, 22, 0);
    position: relative;
    overflow: hidden;
    width: 170px;
}

.hvr-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 10%;
    right: 100%;
    bottom: 0;
    background: rgb(161, 147, 121);
    height: 2px;
    max-width: 50px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline:hover:before,
.hvr-underline:focus:before,
.hvr-underline:active:before {
    right: 0;
}




/*hovers*/
